@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Silkscreen&display=swap');
@font-face {
  font-family: "Backbones";
  src: url(font/Backbones-YzAoL.ttf);
}
body {
  padding-bottom: 40px;
}

header {
  background: url("images/banner-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  font-family: "Backbones";
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  text-shadow: 3px 9px 2px black;
  font-size: 42px;
}

header h1 img {
  width: 150px;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

.description {
  border: 1px solid black;
  margin-top: 130px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
}

input {
  width: 250px;
  border-radius: 25px;
  border: none;
  height: 28px;
  padding: 5px;
  background-color: rgb(230, 229, 229);
  opacity: 0.7;
}

button {
  position: absolute;
  top: 35x;
  right: 110px;
  height: 38px;
  width: 15%;
  padding: 5px;
  border-radius: 25px;
  border: none;
  background-color: rgb(82, 180, 250);
  font-family: 'Silkscreen', sans-serif;
}

.card {
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img{
  height: 400px;
  justify-content: center;
  border-radius: 12px;
}

#price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.seller {
  text-transform: capitalize;
}

#set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .description {
    display: none;
  }
  .form {
    margin-top: 150px;
  }
}
